/*
 * Copyright (c) 2014-2018 BSI Business Systems Integration AG.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     BSI Business Systems Integration AG - initial API and implementation
 */
.login-box-content > form {

  & > input,
  & > .button {
    width: 100%;
    height: 45px;
    margin: 15px 0;
    font-size: 16px;
  }

  & > input.alternative:-webkit-autofill {
    /* NOSONAR (for some reason, rule "less:overqualified-elements" is illegitimately triggered here)
       /* Improve Chrome's auto-fill style by overriding the forced yellow background and black text color. */
    /* (Requires some hacks, see http://webagility.com/posts/remove-forced-yellow-input-background-in-chrome) */
    border-top-width: 0;
    padding-top: @text-field-padding-top-compensation + 1px;
    -webkit-box-shadow: inset 0 0 0 1000px @background-color;
    -webkit-text-fill-color: @text-color !important; /* NOSONAR (!important is okay here) */

    &:focus {
      -webkit-text-fill-color: @focus-color !important; /* NOSONAR (!important is okay here) */
    }

    &::selection {
      -webkit-text-fill-color: @text-selection-color !important; /* NOSONAR (!important is okay here) */
    }
  }
}

/*
 * Login button is a default button -> styles are defined in main.css.
 * Difference to regular default button is the disabled style and the ability to turn red.
 */
.login-button {

  &:disabled {
    color: @default-button-color;
    border-color: @default-button-background-color;
    background-color: @default-button-background-color;
  }

  &.login-error:not(.disabled) {
    border-color: @palette-red-4;
    background-color: @palette-red-4;

    /* Also change color of focus glow */

    &:focus::before {
      border-color: @palette-red-4;
      #scout.glow(@palette-red-4);
    }

    &:hover {
      background-color: @palette-red-4;
    }

    &:active {
      border-color: @palette-red-4;
      background-color: darken(@palette-red-4, 5%);
    }
  }
}

.login-button-loading {
  #scout.animation(pulsate 2s cubic-bezier(0.5, 0.1, 0.1, 0.5) infinite);
  display: inline-block;
  border-radius: 50%;
  border: 1px fade(@default-button-color, 80%) solid;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
