/*
 * Copyright (c) 2014-2018 BSI Business Systems Integration AG.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     BSI Business Systems Integration AG - initial API and implementation
 */
.table-footer {
  position: absolute;
  bottom: 0;
  height: @table-footer-height;
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid @border-color;
  background-color: @table-footer-background-color;
}

.table-control-resize {
  position: absolute;
  width: 100%;
  left: 0;
  height: 16px;
  cursor: row-resize;
  z-index: 1;
  border-top: @table-control-resize-border-width solid @table-control-resize-border-color;
}

.table-control-container {
  position: absolute;
  overflow: hidden;
  outline: none;
  background-color: @table-control-container-background-color;
  bottom: @table-footer-height;
  width: 100%;

  /* Default value for TableControl.js */
  height: @table-control-container-height;

  &.dense {
    height: @table-control-container-height-dense;
  }

  display: none;
  z-index: 1;
  /* Reset nowrap, forms may have fields which need wrapping (e.g. label field) */
  white-space: normal;

  &:not(.has-resizer) {
    border-top: 2px solid @group-box-title-border-color;
  }
}

.table-control-content {
  height: 100%;
  width: 100%;

  & > .form {
    background-color: @table-control-form-background-color;

    & > .root-group-box {

      & > .group-box-body {
        /* to make sure fields are not drawn over the menubar when making table control container very small */
        overflow: hidden;
      }

      & > .main-menubar {
        #scout.main-menubar-light;
      }
    }
  }

  & .tab-box > .tab-box-header {
    margin-top: 0;
    margin-left: 0;

    & > .tab-box-header-bottom-border {
      display: none;
    }

    & .tab-area {
      & > .selection-marker {
        z-index: 2;
        height: 3px;
        bottom: auto;
        top: 0;
        margin-bottom: 0;
      }

      & > .tab-item {
        z-index: 2;

        & > .title {
          padding-top: @table-control-tab-item-title-padding-top;
          padding-bottom: @table-control-tab-item-title-padding-bottom;
        }

        &.first {
          /* align with the form fields */
          padding-left: @mandatory-indicator-width;
        }

        &::after {
          top: 0;
          height: 3px;
          margin-bottom: auto;
        }
      }
    }
  }
}

.table-controls {
  position: absolute;
  height: 100%;

  .table-footer > & ~ & {
    margin-left: -1px;
  }
}

.table-info {
  position: absolute;
  right: 0;
}

.table-filter {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: (@table-footer-height - 26px) / 2;
  margin-right: @table-control-padding;
}

.table-text-filter {
  min-height: 26px;
  width: 200px;
  font-size: 13px;

  &:focus {
    &.has-text {
      padding-right: @text-field-padding-x + 15px;

      & ~ .clear-icon {
        display: block;
      }
    }
  }

  & ~ .clear-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 26px;
    line-height: 26px;
    padding-right: @text-field-padding-x;
    cursor: pointer;

    &::before {
      #scout.font-icon();
      font-size: 13px;
      content: @icon-remove-bold;
      color: @text-field-icon-color;
    }
  }
}

.table-info-load,
.table-info-status,
.table-info-filter,
.table-info-selection {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: @table-control-padding / 2;
  padding-bottom: 0;
  height: @table-footer-height - 1px; /* subtract border-top of .table-footer */
  color: @table-info-color;
  cursor: pointer;
  line-height: 19px;
  #scout.overflow-nowrap();

  &::before {
    content: '';
    position: absolute;
    top: @table-control-padding / 2  + 2px;
    left: 0;
    height: @table-footer-height - @table-control-padding - 4px;
    border-right: 1px solid @border-color;
  }

  /* margins are used instead of paddings for a better animation */

  & > span {
    margin-left: @table-control-padding;
    margin-right: @table-control-padding - 1px; /* because left padding includes the ::before border */
  }

  &.disabled {
    cursor: default;

    & > .table-info-button {
      color: @table-info-color;
    }
  }

  & > .table-info-button {
    color: @link-color;

    & > .key-box {
      bottom: 2px;
    }
  }

  &:hover > .table-info-button {
    color: @link-hover-color;
  }

  &:active > .table-info-button {
    color: @active-color;
  }
}

.table-info-tooltip {
  line-height: 30px;
  /* move tooltip a little down, make sure it is on the same height as other table footer tooltips (table-control, table-status) */
  margin-top: 6px;
}

.table-info-status {
  padding-top: 0;
  line-height: @table-footer-height;
  color: @table-info-color;

  &:hover {
    color: @table-info-hover-color;
  }

  /* normal */

  & > .font-icon {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding-top: 8px; /* controls distance to tooltip */
    padding-bottom: 11px; /* larger than padding-top, to move icon to optical middle */

    &::before {
      content: @icon-info;
      #scout.font-icon();
      font-size: 22px;
    }
  }

  /* error */

  &.error > .font-icon::before {
    #scout.animation(attention 5s linear infinite);
    content: @icon-error;
  }

  &.error.tooltip-active {
    color: @table-info-error-color;
  }

  &.error.tooltip-active:hover {
    color: @table-info-error-hover-color;
  }

  /* warning */

  &.warning > .font-icon::before {
    content: @icon-error;
  }

  &.warning.tooltip-active {
    color: @table-info-warning-color;
  }

  &.warning.tooltip-active:hover {
    color: @table-info-warning-hover-color;
  }
}
