/*
 * Copyright (c) 2014-2020 BSI Business Systems Integration AG.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     BSI Business Systems Integration AG - initial API and implementation
 */
/* -------------------------------- */
/* Scout default theme              */
/* extends: -                       */
/* affects: Scout OSS               */
/* -------------------------------- */

/* -------------------------------- */
/* Color palette                    */
/* -------------------------------- */

@palette-black: #000;
@palette-white: #fff;

@palette-red-0: #FEE0E0;
@palette-red-1: #FECAC8;
@palette-red-2: #FEB1AB;
@palette-red-3: #FF6060;
@palette-red-4: #DF2632;

@palette-green-0: #DDF4EA;
@palette-green-1: #B6ECD3;
@palette-green-2: #86D9B2;
@palette-green-3: #0DAF66;
@palette-green-4: #1F7C5D;

@palette-blue-0: #E9F0F6;
@palette-blue-1: #C1DEF9;
@palette-blue-2: #74A8D8;
@palette-blue-3: #508DC3;
@palette-blue-4: #2B73B3;
@palette-blue-5: #1561A7;
@palette-blue-6: #014786;
@palette-blue-7: #2F3C45;

@palette-gray-0: #FEFEFE;
@palette-gray-1: #FAFAFA;
@palette-gray-2: #F6F6F6;
@palette-gray-3: #EFEFEF;
@palette-gray-4: #DDDDDD;
@palette-gray-5: #CCCCCC;
@palette-gray-6: #999999;
@palette-gray-6-1: #888888;
@palette-gray-7: #666666;
@palette-gray-8: #5C5C5C;
@palette-gray-9: #4C4C4C;
@palette-gray-10: #333333;

@palette-cyan-0: #DDFFF9;
@palette-cyan-1: #BAF3E8;
@palette-cyan-2: #93EDDC;
@palette-cyan-3: #3EE1C3;
@palette-cyan-4: #24B499;
@palette-cyan-5: #1D826F;

@palette-orange-0: #FCF0E5;
@palette-orange-1: #FEE6C0;
@palette-orange-2: #FFDB9D;
@palette-orange-3: #FDAD4F;
@palette-orange-4: #FE9915;
@palette-orange-5: #754201;
@palette-orange-6: #3e353a;

/* -------------------------------- */
/* Global colors                    */
/* -------------------------------- */

@active-color: @palette-blue-6;
@active-inverted-background-color: @palette-blue-5;
@active-inverted-color: @palette-white;
@application-loading-background-color: @palette-white;
@application-loading01-color: fade(@palette-blue-5, 90%);
@application-loading02-color: @palette-cyan-4;
@background-color: @palette-gray-0;
@body-background-color: transparent;
@border-color: @palette-gray-5;
@control-background-color: @palette-white;
@control-color: @text-color;
@control-disabled-background-color: @palette-gray-2;
@control-disabled-color: @text-disabled-color;
/* Use lighter gray in alternative mode, only relevant for some fields with borders (e.g. text area) */
@control-alternative-disabled-background-color: @palette-gray-1;
@disabled-color: @palette-gray-6;
@disabled-inverted-background-color: @palette-gray-2;
@drop-shadow-alpha: 0.2;
@drop-shadow-large-alpha: 0.5;
@error-background-color: @palette-red-0;
@error-border-color: @palette-red-3;
@error-color: @palette-red-3;
@error-glow-color: @palette-red-3;
@focus-border-color: @palette-blue-6;
@focus-color: @palette-blue-6;
@focus-glow-color: fade(@focus-border-color, 50%);
@focus-border-color-inverted: @active-inverted-color;
@focus-glow-color-inverted: fade(@active-inverted-color, 50%);
@highlight-color: @palette-orange-4;
@highlight-inverted-background-color: @highlight-color;
@hover-color: @palette-blue-6;
@icon-color: @text-color;
@icon-disabled-color: @palette-gray-5;
@icon-inverted-color: @palette-white;
@icon-light-color: @palette-gray-6;
@item-selection-background-color: @palette-blue-0;
@item-selection-border-color: @palette-blue-6;
@item-selection-disabled-background-color: @palette-gray-4;
@item-selection-disabled-border-color: @palette-gray-6;
@item-selection-nonfocus-background-color: @palette-gray-2;
@item-selection-nonfocus-border-color: @palette-gray-5;
@item-active-background-color: @palette-gray-2;
@loading-indicator-knight-rider-color: @palette-blue-3;
@panel-background-color: @palette-gray-3;
@text-color: @palette-gray-10;
@text-disabled-color: @palette-gray-7;
@text-selection-background-color: @palette-blue-6;
@text-selection-color: @palette-white;
@text-selection-disabled-background-color: @palette-gray-7;
@text-selection-disabled-color: @palette-gray-3;
@text-field-alternative-background-color: transparent;
@text-field-alternative-disabled-border-color: @palette-gray-5;
@text-field-icon-color: @palette-gray-6;
@text-field-icon-error-color: @error-border-color;
@text-field-icon-focus-color: @focus-border-color;
@text-field-placeholder-color: @palette-gray-6;
@title-color: @palette-gray-10;

/* -------------------------------- */
/* Component specific colors        */
/* -------------------------------- */

@boxbutton-active-background-color: @palette-gray-4;
@boxbutton-background-color: @palette-gray-3;
@boxbutton-border-color: @border-color;
@browser-field-background-color: @palette-white; /* always white to not change the look of the website */
@button-active-color: @active-color;
@button-active-background-color: @palette-gray-3;
@button-background-color: @control-background-color;
@button-border-color: @button-color;
@button-color: @palette-blue-6;
@button-disabled-background-color: @control-disabled-background-color;
@button-disabled-border-color: @border-color;
@button-disabled-color: @disabled-color;
@button-font-icon-color: @button-color;
@button-font-icon-disabled-color: @button-disabled-border-color;
@button-hover-color: @button-color;
@busyindicator-active-color: @palette-blue-6;
@busyindicator-border-color: @border-color;
@calendar-component-color: @palette-black;
@calendar-component-intro-color: @palette-gray-7;
@calendar-day-color: @palette-gray-7;
@calendar-day-selected-background-color: @active-inverted-background-color;
@calendar-day-selected-color: @palette-white;
@calendar-mode-selected-background-color: @item-selection-background-color;
@calendar-mode-selected-color: @palette-blue-7;
@calendar-out-background-color: transparent;
@calendar-out-color: @palette-gray-5;
@calendar-title-color: @title-color;
@calendar-week-axis-color: @palette-gray-6;
@calendar-weekend-color: @palette-blue-6;
@calendar-weekend-out-background-color: transparent;
@calendar-weekend-out-color: @palette-blue-2;
@carousel-status-item-color: @palette-gray-5;
@carousel-current-item-color: @palette-black;
@check-box-border-color: @border-color;
@check-box-disabled-color: @disabled-color;
@check-box-checked-color: @palette-blue-6;
@closer-color: @icon-light-color;
@collapse-handle-active-background-color: @button-active-background-color;
@collapse-handle-active-color: @button-active-color;
@collapse-handle-background-color: @button-background-color;
@collapse-handle-border-color: fade(@button-border-color, 75%);
@collapse-handle-color: fade(@button-color, 75%);
@column-background-effect-gradient1-start-background-color: @palette-red-2;
@column-background-effect-gradient1-end-background-color: @palette-green-1;
@column-background-effect-gradient2-start-background-color: @palette-green-1;
@column-background-effect-gradient2-end-background-color: @palette-red-2;
@column-background-effect-bar-chart-background-color: @palette-cyan-2;
@command-button-border-color: @border-color;
@command-button-active-color: @active-inverted-color;
@command-button-active-border-color: @active-inverted-background-color;
@command-button-active-background-color: @active-inverted-background-color;
@date-picker-background-color: @control-popup-background-color;
@date-picker-header-background-color: @panel-background-color;
@date-picker-day-hover-border-color: @item-selection-border-color;
@date-picker-day-hover-background-color: @item-selection-background-color;
@date-picker-day-hover-selected-background-color: @palette-blue-4;
@date-picker-day-selected-color: @palette-white;
@date-picker-day-selected-background-color: @active-inverted-background-color;
@date-picker-day-disabled-color: @palette-gray-5;
@date-picker-now-color: @highlight-color;
@date-picker-now-hover-selected-background-color: @palette-orange-3;
@date-picker-now-hover-border-color: @highlight-color;
@date-picker-now-hover-background-color: @palette-orange-0;
@date-picker-now-selected-color: @palette-white;
@date-picker-now-selected-background-color: @highlight-inverted-background-color;
@date-picker-out-color: @palette-gray-5;
@date-picker-out-weekend-color: @palette-blue-2;
@date-picker-weekend-color: @palette-blue-6;
@date-picker-day-preselected-border-color: @item-selection-border-color;
@date-picker-now-preselected-border-color: @highlight-color;
@default-button-active-background-color: @palette-blue-6;
@default-button-background-color: @palette-blue-4;
@default-button-color: @palette-white;
@default-button-hover-background-color: @default-button-background-color;
@desktop-navigation-handle-active-background-color: @outline-group-background-color;
@desktop-navigation-handle-background-color: @navigation-background-color;
@desktop-navigation-handle-border-color: @desktop-navigation-handle-color;
@desktop-navigation-handle-color: @navigation-color;
@desktop-notification-background-color: @palette-white;
@desktop-notification-ok-border-color: @palette-green-3;
@desktop-notification-info-border-color: @palette-blue-4;
@desktop-notification-warning-border-color: @palette-orange-3;
@desktop-notification-error-border-color: @palette-red-3;
@desktop-header-background-color: @palette-white;
@desktop-header-border-color: @border-color;
@desktop-toolbox-in-navigation-background-color: @palette-white;
@detail-table-header-background-color: @table-header-background-color;
@detail-table-header-border-color: @table-header-border-color;
@detail-table-footer-background-color: @table-footer-background-color;
@filechooser-background-color: @control-background-color;
@form-background-color: @background-color;
@form-menu-popup-main-menubar-background-color: @menubar-background-color;
@group-box-title-border-color: @border-color;
@header-view-button-tab-active-background-color: @simple-tab-active-background-color;
@header-view-button-tab-active-color: @simple-tab-active-color;
@header-view-button-tab-background-color: @navigation-background-color;
@header-view-button-tab-color: @view-button-tab-active-color;
@key-box-background-color: @palette-orange-2;
@key-box-border-color: @key-box-background-color;
@key-box-background-disabled-color: @palette-gray-5;
@key-box-border-disabled-color: @key-box-background-disabled-color;
@key-box-color: @palette-black;
@link-color: @palette-blue-6;
@link-active-color: @palette-blue-7;
@link-hover-color: lighten(@link-color, 10%);
@main-menubar-background-color: @menubar-background-color;
@menubar-background-color: @palette-gray-1;
@menubar-button-active-background-color: @button-active-background-color;
@menubar-button-background-color: @button-background-color;
@menubar-button-border-color: @button-border-color;
@menubar-button-color: @button-color;
@menubar-button-disabled-background-color: @button-disabled-background-color;
@menubar-button-disabled-border-color: @palette-gray-5;
@menubar-button-disabled-color: @button-disabled-color;
@menubar-button-font-icon-color: @menubar-button-color;
@menubar-button-font-icon-disabled-color: @menubar-button-disabled-border-color;
@menubar-item-color: @text-color;
@menu-item-disabled-color: @disabled-color;
@messagebox-background-color: @popup-background-color;
@mode-hover-text-color: @hover-color;
@mode-selected-background-color: @active-inverted-background-color;
@mode-selected-text-color: @active-inverted-color;
@mode-alternative-selected-color: @mode-selected-background-color;
@navigate-up-button-border-color: @menubar-button-border-color;
@navigate-up-button-color: @menubar-button-color;
@navigation-background-color: @palette-blue-6;
@navigation-color: @palette-gray-3;
@notification-ok-background-color: @palette-green-0;
@notification-ok-border-color: @palette-green-3;
@notification-info-background-color: @palette-blue-0;
@notification-info-border-color: @palette-blue-4;
@notification-warning-background-color: @palette-orange-0;
@notification-warning-border-color: @palette-orange-3;
@notification-error-background-color: @error-background-color;
@notification-error-border-color: @error-color;
@outline-compact-cell-content-color: @palette-gray-4;
@outline-breadcrumb-ancestor-border-color: rgba(255, 255, 255, 0.3);
@outline-breadcrumb-border-color: rgba(255, 255, 255, 0.8);
@outline-breadcrumb-child-active-background-color: @navigation-background-color;
@outline-breadcrumb-child-background-color: @outline-group-background-color;
@outline-breadcrumb-node-active-background-color: lighten(@navigation-background-color, 5%);
@outline-group-background-color: @palette-blue-5;
@outline-in-background-selection-background-color: @palette-blue-3;
@outline-in-background-selection-color: @palette-white;
@outline-selection-background-color: @background-color;
@outline-selection-color: @text-color;
@outline-scrollbar-thumb-color: @scrollbar-thumb-inverted-color;
@outline-scrollbar-thumb-hover-color: @scrollbar-thumb-inverted-hover-color;
@outline-title-border-color: @outline-selection-background-color;
@planner-large-scale-item-line-color: fade(@palette-black, 20%);
@planner-small-scale-item-line-color: fade(@palette-black, 7%);
@planner-mode-selected-color: @calendar-mode-selected-color;
@planner-mode-selected-background-color: @calendar-mode-selected-background-color;
@planner-selector-resize-background-color: @background-color;
@planner-resource-title-color: @palette-gray-7;
@planner-timeline-background-color: @panel-background-color;
@planner-activity-color: @text-color;
@planner-activity-level-background-color: @palette-white;
@popup-background-color: @control-background-color;
@popup-border-color: @border-color;
@control-popup-border-color: @palette-blue-6;
@control-popup-background-color: @popup-background-color;
@proposal-chooser-status-background-color: @panel-background-color;
@radio-button-border-color: @border-color;
@radio-button-checked-color: @palette-blue-6;
@radio-button-disabled-color: @disabled-color;
@save-needer-color: @icon-light-color;
@scrollbar-thumb-main-color: @palette-gray-6;
@scrollbar-thumb-color: fade(@scrollbar-thumb-main-color, 30%);
@scrollbar-thumb-hover-color: fade(@scrollbar-thumb-main-color, 45%);
@scrollbar-thumb-small-color: fade(@scrollbar-thumb-main-color, 15%);
@scrollbar-thumb-small-hover-color: fade(@scrollbar-thumb-main-color, 15%);
@scrollbar-thumb-inverted-main-color: @palette-white;
@scrollbar-thumb-inverted-color: fade(@scrollbar-thumb-inverted-main-color, 20%);
@scrollbar-thumb-inverted-hover-color: fade(@scrollbar-thumb-inverted-main-color, 40%);
@scrollbar-thumb-inverted-small-color: fade(@scrollbar-thumb-inverted-main-color, 15%);
@scrollbar-thumb-inverted-small-hover-color: fade(@scrollbar-thumb-inverted-main-color, 15%);
@search-outline-field-border-color: @navigation-background-color;
@search-outline-field-focus-border-color: @navigation-background-color;
@search-outline-field-focus-glow-color: @palette-white;
@status-menu-color: @palette-gray-7;
@status-menu-hover-color: @hover-color;
@status-info-color: @icon-light-color;
@status-info-hover-color: @hover-color;
@status-warning-color: @palette-blue-4;
@status-warning-hover-color: @palette-blue-5;
@status-error-color: @error-color;
@status-error-hover-color: @palette-red-4;
@slider-track-color: @palette-gray-5;
@switch-border-color: darken(@border-color, 12%);
@switch-background-color: @panel-background-color;
@switch-button-border-color: @switch-border-color;
@switch-button-background-color: @control-background-color;
@switch-button-activated-border-color: @active-color;
@switch-button-activated-background-color: lighten(@palette-blue-3, 12%);
@table-aggregate-cell-selection-color: @palette-blue-4;
@table-aggregate-row-background-color: @palette-gray-1;
@table-compact-cell-content-color: @palette-gray-7;
@table-control-active-color: @text-color;
@table-control-color: @palette-blue-5;
@table-control-container-background-color: @palette-gray-1;
@table-control-disabled-color: @palette-gray-5;
@table-control-form-background-color: @table-control-container-background-color;
@table-control-hover-color: @table-control-color;
@table-control-resize-border-color: @border-color;
@table-control-selected-color: @table-control-color;
@table-control-selected-background-color: @table-control-container-background-color;
@table-footer-background-color: @panel-background-color;
@table-header-background-color: @panel-background-color;
@table-header-border-color: @border-color;
@table-header-item-state-color: @palette-gray-7;
@table-header-menu-background-color: @popup-background-color;
@table-header-menu-cmd-active-border-color: @hover-color;
@table-header-menu-cmd-selected-background-color: @active-inverted-background-color;
@table-header-menu-cmd-selected-border-color: @active-inverted-background-color;
@table-header-menu-cmd-selected-color: @active-inverted-color;
@table-header-menu-cmd-border-color: @border-color;
@table-header-menu-cmd-disabled-color: @palette-gray-5;
@table-header-menu-link-color: @link-color;
@table-header-resize-color: @border-color;
@table-header-resize-hover-color: @table-header-resize-color;
@table-header-sort-color: @palette-gray-7;
@table-info-color: @text-color;
@table-info-error-color: @error-color;
@table-info-error-hover-color: @palette-red-4;
@table-info-hover-color: @palette-gray-7;
@table-info-warning-color: @palette-blue-4;
@table-info-warning-hover-color: @palette-blue-6;
@table-row-active-background-color: @item-active-background-color;
@table-structure-row-background-color: @palette-gray-1;
@table-row-border-color: @border-color;
@table-row-checked-background-color: @palette-blue-5;
@table-row-checked-selected-focus-background-color: lighten(@palette-blue-5, 22%);
@table-row-checked-selected-background-color: greyscale(@table-row-checked-selected-focus-background-color);
@table-row-control-color: @tree-node-control-color;
@tab-area-border-color: @border-color;
@tab-item-color: @title-color;
@tab-item-active-color: @active-color;
@tab-item-focus-color: @palette-blue-4;
@tab-item-hover-color: @hover-color;
@tab-item-marked-border-color: @palette-gray-6;
@tab-item-selection-marker-color: @tab-item-active-color;
@tab-item-selection-marker-focus-color: @tab-item-focus-color;
@tag-element-background-color: @palette-cyan-2;
@tag-element-background-color-hover: @palette-cyan-3;
@tag-icon-color: @palette-cyan-5;
@tag-text-color: @palette-black;
@tile-background-color: @palette-gray-1;
@tile-border-color: @border-color;
@tile-active-background-color: @palette-gray-3;
@tile-selection-background-color: @item-selection-background-color;
@tile-selection-border-color: @item-selection-border-color;
@tile-alternative-background-color: @tile-default-background-color;
@tile-alternative-border-color: @tile-default-border-color;
@tile-alternative-color: @tile-default-color;
@tile-alternative-label-color: @tile-default-label-color;
@tile-alternative-link-color: @tile-default-link-color;
@tile-alternative-link-active-color: @tile-default-link-active-color;
@tile-alternative-link-hover-color: @tile-default-link-hover-color;
@tile-alternative-inverted-background-color: @palette-cyan-4;
@tile-alternative-inverted-selection-background-color: @palette-cyan-2;
@tile-alternative-inverted-border-color: @tile-default-inverted-border-color;
@tile-alternative-inverted-color: @tile-default-inverted-color;
@tile-alternative-inverted-label-color: @tile-alternative-inverted-color;
@tile-alternative-inverted-link-hover-color: @tile-alternative-inverted-color;
@tile-alternative-inverted-link-active-color: @tile-alternative-inverted-color;
@tile-button-alternative-active-background-color: @tile-button-default-active-background-color;
@tile-button-alternative-hover-color: @tile-button-default-hover-color;
@tile-button-alternative-icon-color: @tile-button-default-icon-color;
@tile-button-alternative-inverted-active-background-color: @palette-cyan-3;
@tile-button-alternative-inverted-color: @tile-button-default-inverted-color;
@tile-button-default-active-background-color: @palette-gray-4;
@tile-button-default-hover-color: @hover-color;
@tile-button-default-icon-color: @tile-default-label-color;
@tile-button-default-inverted-active-background-color: @palette-blue-3;
@tile-button-default-inverted-color: @palette-white;
@tile-default-background-color: @palette-gray-1;
@tile-default-border-color: @palette-gray-4;
@tile-default-color: @palette-gray-10;
@tile-default-link-color: @palette-blue-5;
@tile-default-link-active-color: @tile-default-link-hover-color;
@tile-default-link-hover-color: @link-hover-color;
@tile-default-label-color: @palette-blue-5;
@tile-default-inner-border-color: @palette-gray-2;
@tile-default-inverted-background-color: @palette-blue-6;
@tile-default-inverted-selection-background-color: @palette-blue-4;
@tile-default-inverted-border-color: @palette-white;
@tile-default-inverted-color: @palette-white;
@tile-default-inverted-label-color: @tile-default-inverted-color;
@tile-default-inverted-link-hover-color: @tile-default-inverted-color;
@tile-default-inverted-link-active-color: @tile-default-inverted-color;
@tile-overview-color: @tile-default-inverted-background-color;
@tile-placeholder-background-color: @palette-gray-3;
@tile-table-default-inverted-selection-background-color: @palette-blue-5;
@tile-table-default-inverted-selection-border-color: @palette-white;
@tile-table-alternative-inverted-selection-background-color: @palette-cyan-3;
@tile-table-alternative-inverted-selection-border-color: @tile-table-default-inverted-selection-border-color;
@tile-table-alternative-selection-background-color: @palette-cyan-1;
@tile-table-alternative-selection-border-color: @palette-cyan-4;
@time-picker-hours-background-color: @date-picker-header-background-color;
@time-picker-hover-selected-background-color: @date-picker-day-hover-selected-background-color;
@time-picker-now-color: @date-picker-now-color;
@time-picker-now-hover-background-color: @date-picker-now-hover-background-color;
@time-picker-now-hover-border-color: @date-picker-now-hover-border-color;
@time-picker-now-hover-selected-background-color: @date-picker-now-hover-selected-background-color;
@time-picker-now-preselected-border-color: @date-picker-now-preselected-border-color;
@time-picker-now-selected-background-color: @date-picker-now-selected-background-color;
@time-picker-now-selected-color: @date-picker-now-selected-color;
@time-picker-selected-color: @date-picker-day-selected-color;
@time-picker-selected-background-color: @date-picker-day-selected-background-color;
@tooltip-background-color: @palette-gray-3;
@tooltip-border-color: @palette-gray-6;
@tooltip-color: @text-color;
@tooltip-small-color: @text-disabled-color;
@tooltip-info-background-color: @tooltip-background-color;
@tooltip-info-border-color: @tooltip-border-color;
@tooltip-info-color: @tooltip-color;
@tooltip-warning-background-color: @palette-blue-0;
@tooltip-warning-border-color: @palette-blue-3;
@tooltip-warning-color: @tooltip-color;
@tooltip-error-background-color: @error-background-color;
@tooltip-error-border-color: @error-color;
@tooltip-error-color: @error-color;
@top-label-color: @palette-gray-6-1;
@tree-node-active-background-color: @item-active-background-color;
@tree-node-control-color: inherit;
@view-button-tab-active-background-color: @navigation-background-color;
@view-button-tab-active-color: @active-inverted-color;
@view-button-tab-background-color: @panel-background-color;
@view-button-tab-color: @palette-gray-8;
@view-menu-popup-background-color: @popup-background-color;
@simple-tab-active-background-color: @form-background-color;
@simple-tab-active-color: @active-color;
@simple-tab-background-color: @panel-background-color;
@simple-tab-flash-background-color: @palette-gray-5;
@slider-thumb-color: @palette-gray-4;
@slider-thumb-border-color: @palette-gray-7;
@slider-track-color: @palette-gray-5;
@slider-thumb-focus-border-color: @active-color;
@slider-thumb-focus-color: @palette-blue-1;
@wizard-progress-border-color: @border-color;
@wizard-step-active-step-background-color: @active-color;
@wizard-step-active-step-border-color: @wizard-step-active-step-background-color;
@wizard-step-active-step-color: @icon-inverted-color;
@wizard-step-active-step-text-color: @wizard-step-active-step-background-color;
@wizard-step-after-active-step-background-color: @wizard-step-default-background-color;
@wizard-step-after-active-step-border-color: @wizard-step-default-border-color;
@wizard-step-after-active-step-color: @wizard-step-default-color;
@wizard-step-before-active-step-background-color: @wizard-step-default-background-color;
@wizard-step-before-active-step-border-color: @wizard-step-default-border-color;
@wizard-step-before-active-step-color: @wizard-step-default-color;
@wizard-step-disabled-background-color: inherit;
@wizard-step-disabled-border-color: @disabled-color;
@wizard-step-disabled-color: @disabled-color;
@wizard-step-disabled-text-color: @disabled-color;
@wizard-step-default-background-color: inherit;
@wizard-step-default-border-color: @palette-blue-7;
@wizard-step-default-color: @wizard-step-default-border-color;
@year-panel-range-background-color: @item-selection-background-color;
@year-panel-range-hover-background-color: @item-selection-background-color;
@year-panel-range-day-background-color: @active-inverted-background-color;
@year-panel-title-item-color: @palette-gray-6;
@year-panel-weekend-background-color: @palette-gray-7;
