/*
 * Copyright (c) 2014-2017 BSI Business Systems Integration AG.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     BSI Business Systems Integration AG - initial API and implementation
 */
.notification {
  position: relative;
  padding: 10px;
  margin: 10px 10px 0 10px;
  border: 1px solid transparent;
  color: @text-color;
  pointer-events: auto;

  &.ok {
    background-color: @notification-ok-background-color;
    border-color: @notification-ok-border-color;
  }

  &.info {
    background-color: @notification-info-background-color;
    border-color: @notification-info-border-color;
  }

  &.warning {
    background-color: @notification-warning-background-color;
    border-color: @notification-warning-border-color;
  }

  &.error {
    background-color: @notification-error-background-color;
    border-color: @notification-error-border-color;
  }

  /* When notification is a direct child of the main group-box: use different margins */

  .root-group-box > & {
    margin-left: 10px + @root-group-box-padding-left;
    margin-right: @root-group-box-padding-right;
  }
}

.notification-content {
  /* Prevent overlay of text and close icon */

  &.closable {
    padding-right: 25px;
  }

  & > .closer {
    position: absolute;
    right: 2px;
    top: 2px;
    // Enlarge region to click
    padding: 8px;
  }
}

.notification-message {
  // display: inline-block;
  #scout.user-select(text);
  #scout.overflow-ellipsis();
}
