/*
 * Copyright (c) 2014-2018 BSI Business Systems Integration AG.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     BSI Business Systems Integration AG - initial API and implementation
 */
.dropdown-field {

  & > .icon {
    cursor: pointer;

    &::before {
      content: @icon-angle-down-bold;
      font-size: 16px;
    }
  }

  &.popup-open > .icon::before {
    content: @icon-angle-up-bold;
  }

  & > .field {
    cursor: pointer;

    &.disabled {
      cursor: default;
    }
  }
}

.proposal-field {

  & > .icon::before {
    content: @icon-pencil-solid;
  }
}

.smart-field {

  & > .icon::before,
  & > .field > .icon::before {
    content: @icon-search-bold;
  }

  /* Multiline SmartField */

  &.popup-open {

    & > .multiline.field.focused {
      box-shadow: none;
    }

    & > .field > .multiline-input {

      &.has-error:focus {
        border-bottom-color: @error-border-color;
      }

      &:focus {
        #scout.glow(@focus-glow-color);
        border-bottom-color: @focus-color;
        border-bottom-right-radius: @control-border-radius;
        border-bottom-left-radius: @control-border-radius;
      }

      &.alternative {
        &:focus {
          box-shadow: none;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    & > .field > .multiline-lines.focused {
      border-color: @border-color;
    }
  }

  &.has-error > .multiline.field.focused {
    #scout.glow(@error-glow-color);
  }

  & > .multiline.field.focused {
    #scout.glow(@focus-glow-color);
  }

  & > .field > .multiline-input {
    border-bottom-color: @border-color;
    border-top-left-radius: @control-border-radius;
    border-top-right-radius: @control-border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding-left: @text-field-padding-x;

    &:focus {
      box-shadow: none;
    }

    &.has-error:focus {
      border-bottom-color: @error-border-color;
    }

    &.alternative,
    &.read-only {
      border-bottom-color: @border-color;

      &.has-error {
        border-bottom-color: @error-border-color;
      }
    }

    &.alternative {
      padding-left: @text-field-alternative-padding-left;
      padding-right: @text-field-alternative-padding-right;

      &:focus {
        border-bottom-color: @focus-color;
      }

      &.has-error {
        border-bottom-color: @error-border-color;
      }
    }
  }

  /* DIV below the smart field containing the additional lines */

  & > .field > .multiline-lines {
    background-color: @control-background-color;
    border: solid 1px @border-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: @control-border-radius;
    border-bottom-left-radius: @control-border-radius;
    border-top: none;
    padding: 3px @text-field-padding-x;
    #scout.overflow-ellipsis-nowrap();
    #scout.user-select(text);

    &.disabled {
      background-color: @control-disabled-background-color;
    }

    &.focused {
      border-color: @focus-border-color;
    }

    &.has-error {
      border-color: @error-border-color;
    }
  }

  &.alternative > .field > .multiline-lines,
  &.read-only > .field > .multiline-lines {
    border: 0;
    padding-top: 6px;

    &.disabled {
      color: @disabled-color;
      background-color: transparent;
    }
  }

  &.alternative > .field > .multiline-lines {
    padding-left: @text-field-alternative-padding-left;
    padding-right: @text-field-alternative-padding-right;
  }

  &.disabled.read-only > .field > .multiline-lines {
    color: @text-color;
  }
}

.dropdown-field,
.proposal-field,
.smart-field {
  & > .input-field[placeholder]:empty::before,
  & > .multiline > .input-field[placeholder]:empty::before {
    #scout.fake-placeholder();
  }

  & > .input-field[placeholder].disabled:empty::before,
  & > .multiline > .input-field[placeholder].disabled:empty::before {
    #scout.placeholder-disabled();
  }

  &.loading {
    & > .icon {
      #scout.animation(pulsate-in-out 2.2s ease-in-out infinite);
    }
  }

  & > .field {

    &.halign-left,
    &.halign-left > .multiline-input {
      text-align: left;
    }

    &.halign-center,
    &.halign-center > .multiline-input {
      text-align: center;
    }

    &.halign-right,
    &.halign-right > .multiline-input {
      text-align: right;
    }
  }

  &.clearable-always.has-text:not(.loading):not(.disabled):not(.compact),
  &.clearable-focused.has-text.focused:not(.loading):not(.disabled):not(.compact) {

    &.halign-right {

      & > input,
      & > .input-field,
      & > .field > input,
      & > .field > .input-field {
        padding-left: 0;
        padding-right: @text-field-icon-outer-width;

        &.alternative {
          padding-left: @text-field-alternative-padding-left;
          padding-right: @text-field-alternative-icon-outer-width;
        }

        &.cell-editor-field {
          padding-right: @text-field-icon-outer-width;
        }
      }
    }
  }

  &.halign-right:not(.disabled) > .field > .multiline-lines {
    padding-right: @text-field-icon-outer-width;
  }

  &.alternative.halign-right:not(.disabled) > .field > .multiline-lines {
    padding-right: @text-field-alternative-icon-outer-width;
  }

  &.halign-right > .clear-icon,
  &.halign-right > .field > .clear-icon {
    padding-left: 0;
    padding-right: @text-field-padding-x;
  }

  &.alternative.halign-right {
    & > .clear-icon,
    & > .field > .clear-icon {
      padding-left: 0;
      padding-right: @text-field-alternative-icon-padding-right;
    }
  }
}

.dropdown-field-popup,
.smart-field-popup,
.proposal-field-popup {
  #scout.chooser-popup();
}

.proposal-chooser {

  & > .active-filter {
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
  }

  & > .status {
    padding: 7px 8px 0 10px;
  }

  & > .active-filter,
  & > .status {
    background-color: @proposal-chooser-status-background-color;
    border-top: solid 1px @item-selection-border-color;
    height: @logical-grid-row-height;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.empty > .active-filter,
  &.empty > .status {
    border-top: 0;
  }

  & > .active-filter > .radiobutton-group {
    width: 100%;
    height: @logical-grid-row-height;

    & > .radiobutton-group-body {
      width: 100%;
      height: @logical-grid-row-height;

      & > .radio-button {
        position: relative;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  & > .table {
    /* Avoids a bug where the table is overlapping the status-field by 1 pixel */
    overflow: hidden;

    & > .table-data > .table-row {

      /* Use text-field-padding-x for the first cell, so the text in the
       * table is exactly left-aligned with the text in the text-field above */

      & > .table-cell.first {
        padding-left: @text-field-padding-x;
      }

      &.selected {
        background-color: @item-selection-background-color;
        border-color: @item-selection-border-color;
      }
    }
  }

  &:not(.touch) > .table {
    & > .table-data > .table-row {
      &.selected.last {
        /* Change color of last element to avoid double-border effect */
        border-bottom-color: @item-selection-background-color;
      }

      &.last {
        border-bottom-color: transparent;
      }
    }
  }

  & > .tree > .tree-data > .tree-node {
    &.selected {
      /* tree is not focused but should look as if it were */
      background-color: @item-selection-background-color;
      border-color: @item-selection-border-color;
    }

    &.selected.last {
      /* Change color of last element to avoid double-border effect */
      border-bottom-color: @item-selection-background-color;
    }

    &.first {
      border-top-color: @item-selection-nonfocus-background-color;
    }

    &.last {
      border-bottom-color: transparent;
    }

    &.inactive {
      font-style: italic;
    }
  }
}

.status > .ellipsis {
  padding-left: 3px;
}

.animate-dot {
  position: relative;
  #scout.animation-name(animateDot);
  #scout.animation-duration(1650ms);
  #scout.animation-iteration-count(infinite);
}

.delay-0 {
  #scout.animation-delay(0ms);
}

.delay-1 {
  #scout.animation-delay(200ms);
}

.delay-2 {
  #scout.animation-delay(400ms);
}
