/*
 * Copyright (c) 2014-2018 BSI Business Systems Integration AG.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *     BSI Business Systems Integration AG - initial API and implementation
 */
.check-box-field > .field {
  padding: 6px 0;
  outline: none;
  display: flex;

  & > .check-box,
  & > .label {
    color: @control-color;
    cursor: pointer;
    vertical-align: middle;
  }

  /* only the label should be clickable, not the whole field */

  & > .label {
    padding-top: @check-box-field-label-padding-top;
    padding-left: 7px;
    max-width: calc(~'100% - ' @check-box-size);
    #scout.overflow-ellipsis();

    &.empty {
      /* Make the label invisible if there is no text to not artificially make the check box wider than it should be
      The check box square defines the height. */
      display: none;
    }
  }

  &.has-inner-alignment {

    &.halign-left {
      justify-content: flex-start;
    }

    &.halign-center {
      justify-content: center;
    }

    &.halign-right {
      justify-content: flex-end;
    }
  }

  & > .check-box {
    flex: none; /* never shrink check-box */
    #scout.checkbox();

    &:focus {
      outline: none;
      border-color: @focus-border-color;
    }

    &::before {
      #scout.checkbox-before();
    }

    &.checked::before {
      #scout.checkbox-before-checked();
    }

    &.undefined::before {
      /* tri-state */
      #scout.checkbox-before-undefined();
    }

    &.disabled {
      #scout.checkbox-disabled();

      &::before {
        #scout.checkbox-before-disabled();
      }

      &.undefined::before {
        /* tri-state */
        #scout.checkbox-before-undefined-disabled();
      }
    }
  }

  /* Same spacings as defined in CellEditorPopup.less, but as margin, not as padding */

  & > .cell-editor-field.check-box {
    padding: 0;
    margin: 0 @table-cell-padding-right 0 @table-cell-padding-left;
    vertical-align: top;

    &.last {
      margin-right: @table-cell-padding-right-last !important;
    }
  }

  &.halign-right > .cell-editor-field.check-box {
    margin-right: @table-cell-padding-left;
    margin-left: @table-cell-padding-right;
  }

  &.halign-center > .cell-editor-field.check-box {
    margin-right: @table-cell-padding-left;
  }
}

.check-box-field.cell-editor-form-field > .field {
  /* 1px because cell editor popup starts at the table row which has a 1px border and check box field does not have a border */
  padding-top: @table-row-padding-y - @checkable-cell-padding-adjustment + 0.5px;
}

.check-box-field.disabled > .field {

  & > .check-box {
    cursor: default;
  }

  & > .label {
    cursor: default;
    color: @text-disabled-color;
  }

  &.read-only > .label {
    color: @text-color;
  }
}

.checkbox-indentation {
  margin-left: @check-box-size + 7px; // 7px = label padding left (see above)

  .radiobutton-group-body > & {
    margin-left: @check-box-size + 7px - @mandatory-indicator-width;
  }
}
